html, body {
    background: #5C258D;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);
    height: 100%;
    min-width: 500px;
  }
  #containerGeneral{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  #citation {
    font-size: 2em;
    font-family: 'Satisfy', curve;
    line-height: 1.3em;
    letter-spacing: 1px;
    margin-top:15px;
    text-align: center;
  }
  #containerCitation{
      background-color: rgba(255, 255, 255,0.3);
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin:50px;
      padding-left: 50px;
      padding-right: 50px;
      box-shadow: rgb(243, 237, 243) 2px 2px 1px 2px;
  }
  
  #citation:before {
      content: open-quote;
      display: flex;
  }
  
  #citation:after {
      content: close-quote;
      display: flex;
      justify-content: flex-end;
  }
  
  #auteur {
    font-size: 1.5em;
    font-style: italic;
    margin:50px;
  }
  
 button {
    box-shadow: none;
    background: transparent;
    transform-style: preserve-3d;
    padding: 0;
    height: auto;
    float: none;
    border:none;
    font-family: 'Arial', curve;
  }

  /* #nouveau:hover{
    background: greenyellow;
  } */

button span {
    background: linear-gradient(180deg, #c640eb, #3c68c5);
    font-size: 2rem;
    padding: 1rem 2rem;
    line-height: 3rem;
    will-change: transform, filter;
    float: none;
    margin: 0;
    transition: all 0.15s ease-out;
    height: auto;
    border-radius: 100px;
    overflow: hidden;
    display: block;
    margin: 0px auto;
    display: block;
    transform: rotateX(0deg) rotateY(0deg) scale(1);
    filter: drop-shadow(0 15px 15px rgba(0,0,0,0.3));
    font-weight: 600;
    perspective-origin: 0 0;
    letter-spacing: 0;
}

span{
  color:white;
  opacity: 0.8;
  box-shadow: black 2px 2px 2px;
}